<html>
    <head>
        <title>Translation service main page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
        <div>
            <form method="post" action="post">
                <input type="text" name="text" placeholder="Введите текст">
                <input type="text" name="lang" placeholder="Введите направление перевода">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Перевести</button>
            </form>
        </div>
        <div>Translations</div>
        <form method="post" action="filter">
            <input type="text" name="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Найти</button>
        </form>
        {{#translations}}
            <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{lang}}</i>
                <strong>{{user.username}}</strong>
            </div>
        {{/translations}}
    </body>
</html>
