<html>
    <head>
        <title>Translation service main page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div>Hello, user!</div>
        <a href="/translation">Translation</a>
    </body>
</html>
